<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.ericrybarczyk.roadtrippy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".RoadTrippyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".triplist.TripListActivity"
            android:label="@string/app_name">
            <!--android:theme="@style/AppTheme.NoActionBar"-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".tripaddedit.AddEditTripActivity"
            android:label="@string/app_label_create_trip"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".triplist.TripListActivity"/>

        <activity android:name=".tripdetail.TripDetailActivity"
            android:label="@string/app_label_trip_detail"
            android:parentActivityName=".triplist.TripListActivity" />

        <activity android:name=".tripday.TripDayActivity"
            android:label="@string/app_label_trip_day"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".tripdetail.TripDetailActivity" />

        <activity android:name=".settings.SettingsActivity"
            android:label="@string/app_label_settings"
            android:parentActivityName=".triplist.TripListActivity"/>

        <activity android:name=".widget.WidgetTripCountdownConfigActivity"
            android:label="@string/widget_trip_countdown_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver android:name=".widget.WidgetTripCountdown">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_trip_countdown" />
        </receiver>
    </application>

</manifest>